.display-details{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: lightgrey;
    padding: 10px;
    font-size: larger;
    font-weight: 500;
}
#time-display{
    color: black;
    font-size: larger;
    font-weight: 700;
}
.total{
    color: black;
    font-size: larger;
    font-weight: 700;
}
h3{
    font-size: larger;
    font-style: italic;
}