.shop-name img{
    height: 100px;
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 50px;
    margin: 30px 10px;
    
}
.shop-name{
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;

    
}
button{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: wheat;
    font-size: medium;
    font-weight: 700;
    border: none;

}
button:hover{
    background-color: rgb(236, 177, 65);
    color: black;
    font-size: medium;
    font-weight: 700;
}
.child{
    position: sticky;
    top: 0;
}
.main{
    background-color: black;

}
.main h2{
    margin-left: 30px;
    color: orange;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px 30px;

}
.cart-container{
    padding: 10px 10px 0 10px;
    background-color: orange;

    
}
@media only screen and (max-width: 600px) {
    .shop-name img{
        height: 100px;
        width: 100px;
        border: 1px solid lightgray;
        border-radius: 50px;
        margin: 30px 10px;
        
    }
    .shop-container{
        display: block;
        
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* padding: 20px 30px; */
        margin-left: 25px;
    
    }
    .cart-container{
        padding: 0 10px;
        margin-top: 10px;
        
    }
}
