/* .container{
    position: sticky;
    top: 0;
} */
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.profile img{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50px;
}
.measurements{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: lightgrey;
    margin-bottom: 10px;
}