.blog{
    margin: 10px;
    padding: 10px;
    background-color: rgb(187, 124, 8);
}
.ques{
    font-size: larger;
    font-weight: 600;   
}
.ans{
    font-size: medium;
    font-weight: 500;
    font-style: italic;
}